.activePlayer{
    min-height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(https://i.ibb.co/QHcMCVv/2136766.webp);
}