.activePlayer{
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(https://i.ibb.co/QHcMCVv/2136766.webp);
}