.activePlayer{
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(https://wallpaperaccess.com/full/2136766.jpg);
}