.featureBg {
  min-height: 900px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://i.ibb.co/QHcMCVv/2136766.webp);
}
.parallelogram1 {
  width: 200px;
  height: 360px;
  top: 10%;
  left: 10%;
  border: 1px solid yellow;
  transform: skew(-20deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../../assets/images/bgColor3.jpg);
}
.parallelogram2 {
  width: 200px;
  top: 0;
  right: 20%;
  height: 360px;
  border: 1px solid yellow;
  transform: skew(-20deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../../assets/images/bgColor4.jpg);
}
.squareBg {
  top: 0;
  right: 0;
}
