.ticyactoe{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(https://i.ibb.co/qx7Cpm6/2078954.webp);
}
.CandyCrash{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(https://i.ibb.co/Tk3zqQK/thumb-1920-900929.jpg);
}
.CardsFlip{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(https://wallpapercave.com/wp/gY7ponW.jpg);
}
.flappy{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(https://i.ibb.co/sHjsqB2/images-6.jpg);
}
.snakeGame{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(https://i.ibb.co/HFRNJZj/snekcrop-0.jpg);
}
.profile-icon{
  font-size: 90px;
  margin: auto;
  border: 1px solid rgb(107, 192, 241);
  background-color: rgb(48, 46, 46);
  color: rgb(206, 195, 195);
  border-radius: 100%;
  padding: 10px;
  
}