.ticyactoe{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(https://i.ibb.co/qx7Cpm6/2078954.webp);
}
.CandyCrash{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(https://i.ibb.co/Tk3zqQK/thumb-1920-900929.jpg);
}
.CardsFlip{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(https://wallpapercave.com/wp/gY7ponW.jpg);
}