/* .htmlGamesBg{
    background-image: url("https://img.freepik.com/free-psd/funny-game-text-effect_17005-1393.jpg?size=626&ext=jpg&ga=GA1.2.207808977.1658386615&semt=sph");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

.image:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: inline-block;
    background: linear-gradient(to right, #151515 0%, rgba(21, 21, 21, 0) 200%);
}