.home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: aquamarine;
}
.backgroud{
    height: 500px;
    width: 380px;
    position: relative;
    border: 1px solid yellow;
    background-image: url(https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png);
    background-repeat: no-repeat;
}
.bird img{
    background: red;
}


/* 

Hi I'm Al Amin Eimon from codeScript. I was working on a new feature that is an user can play 2D game in our website

*/
