@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Nunito+Sans:wght@400;600;700&family=Rajdhani:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: "transparent" #9b9aa8;
}

::-webkit-scrollbar-thumb {
  background: #ffcc00;
}

::-webkit-scrollbar-thumb:hover {
  background: #161617;
}

.gameCardBtnClip {
  clip-path: polygon(8% 0, 100% 0, 100% 80%, 92% 100%, 0 100%, 0% 20%);
}
